# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
*.env

# Firebase service account key
serviceAccountKey.json

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db